/* DevExpress styles */ 
/* These styles override or add to any DevExpress styles */

.mainContentPane {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    height: 100%;
}

.headerPane
{
    background-color:#F1F1F1 !important;
}

.headerTop{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    height: 100%;
}

.templateTitle{
    margin-left: auto;
    margin-right: auto;
    margin: 5px 12px 5px;
    max-width: 1200px;
    height: 100%;
}

.headerMenu{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    height: 100%;
}


.copyright 
{
    margin: 25px 15px 11px !important;
}

/* */
.button--container {
    display: inline-block !important;
    width:100px !important; 
    margin-right: 10px;
}

.button--container.pull--right {
    margin-right: 0px;
}

.align--right { 
    text-align:right;
}


.control--container__short {
    max-width: 150px;
}

.control--container__medium {
    max-width: 350px;
}

.wizard--header {
    font-weight: bold;
}

.formLayout {
    max-width: 1300px;
    margin: auto;
}

/* Messages */

.message {
    font-weight: bold;    
}

.message.error {
    color: #a00000;
}
.message.confirm {
    color: #005b18;
}

.page--title {
    font-weight: bold;
    font-size: large;
    background-color: #ffffff;
    color:#000000;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;

}
.userCurrentSite {
    margin-right: 10px;   
}

.invisible--bar {
    display:none;
    visibility:collapse;    
}

.addButtonStyle
 {
     color: steelblue !important;
     font-size: 14pt !important;
 }

.editButtonStyle
 {
     color: steelblue !important;
     font-size: 14pt !important;
 }

.clearButtonStyle
 {
     color: steelblue !important;
     font-size: 14pt !important;
 }

 .deleteButtonStyle
 {
     color: grey !important;  
     font-size: 14pt !important;
 }

 .viewButtonStyle
 {
     color: seagreen !important;  
     font-size: 14pt !important;
 }

 .viewButtonStyleh
 {
     color: grey !important;
     font-size: 14pt !important;
 }

 .danger
 {
    background-color: red;
    color: white;
 }

 .warning
 {
     background-color: darkgoldenrod;
     color: white;
 }

 .success
 {
    background-color: green;
    color: white;
 }

.highAlert
 {
    color: red;
 }

.infoMessage
 {
    color: green;
 }



/*.div.divSuccess{
    vertical-align: middle;
    background-color: lightgreen;
    color: darkgreen;
}

.div.divWarning{
    vertical-align: middle;
    background-color: orange;
    color: darkorange;
}

.div.divDanger{
    vertical-align: middle;
    background-color: indianred;
    color: darkred;
}*/
