/* Layout Framework CSS */


/* Savant Ltd 2016 */


/* Development settings - must be commented out for live */


/* Row and column borders */
/*
[class*="col-"] {
    border: 1px solid red;
}

.row {
    border: 1px solid green;
}
    */

/* End development settings */

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}

.row {}

.row--space__sm {
    margin-bottom: 15px;
}

.row--space__md {
    margin-bottom: 30px;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col--"] {
    float: left;
    padding: 15px;
    width: 100%;
}

.row.no-col-padding>[class*="col--"] {
    padding: 0px !important;
}

@media only screen and (min-width: 480px) {
.row>[class*="col--"].offset--1__sm {
	margin-left: calc(100% * (1/12));
}
.row>[class*="col--"].offset--2__sm {
	margin-left: calc(100% * (2/12));
}
.row>[class*="col--"].offset--3__sm {
	margin-left: calc(100% * (3/12));
}
.row>[class*="col--"].offset--4__sm {
	margin-left: calc(100% * (4/12));
}
.row>[class*="col--"].offset--5__sm {
	margin-left: calc(100% * (5/12));
}
.row>[class*="col--"].offset--6__sm {
	margin-left: calc(100% * (6/12));
}
.row>[class*="col--"].offset--7__sm {
	margin-left: calc(100% * (7/12));
}
.row>[class*="col--"].offset--8__sm {
	margin-left: calc(100% * (8/12));
}
.row>[class*="col--"].offset--9__sm {
	margin-left: calc(100% * (9/12));
}
.row>[class*="col--"].offset--10__sm {
	margin-left: calc(100% * (10/12));
}
.row>[class*="col--"].offset--11__sm {
	margin-left: calc(100% * (11/12));
}


    .col--1__sm {
        width: 8.33%;
    }
    .col--2__sm {
        width: 16.66%;
    }
    .col--3__sm {
        width: 25%;
    }
    .col--4__sm {
        width: 33.33%;
    }
    .col--5__sm {
        width: 41.66%;
    }
    .col--6__sm {
        width: 50%;
    }
    .col--7__sm {
        width: 58.33%;
    }
    .col--8__sm {
        width: 66.66%;
    }
    .col--9__sm {
        width: 75%;
    }
    .col--10__sm {
        width: 83.33%;
    }
    .col--11__sm {
        width: 91.66%;
    }
    .col--12__sm {
        width: 100%;
    }
}


@media only screen and (min-width: 768px) {
.row>[class*="col--"].offset--1__md {
	margin-left: calc(100% * (1/12));
}
.row>[class*="col--"].offset--2__md {
	margin-left: calc(100% * (2/12));
}
.row>[class*="col--"].offset--3__md {
	margin-left: calc(100% * (3/12));
}
.row>[class*="col--"].offset--4__md {
	margin-left: calc(100% * (4/12));
}
.row>[class*="col--"].offset--5__md {
	margin-left: calc(100% * (5/12));
}
.row>[class*="col--"].offset--6__md {
	margin-left: calc(100% * (6/12));
}
.row>[class*="col--"].offset--7__md {
	margin-left: calc(100% * (7/12));
}
.row>[class*="col--"].offset--8__md {
	margin-left: calc(100% * (8/12));
}
.row>[class*="col--"].offset--9__md {
	margin-left: calc(100% * (9/12));
}
.row>[class*="col--"].offset--10__md {
	margin-left: calc(100% * (10/12));
}
.row>[class*="col--"].offset--11__md {
	margin-left: calc(100% * (11/12));
}


    .col--1__md {
        width: 8.33%;
    }
    .col--2__md {
        width: 16.66%;
    }
    .col--3__md {
        width: 25%;
    }
    .col--4__md {
        width: 33.33%;
    }
    .col--5__md {
        width: 41.66%;
    }
    .col--6__md {
        width: 50%;
    }
    .col--7__md {
        width: 58.33%;
    }
    .col--8__md {
        width: 66.66%;
    }
    .col--9__md {
        width: 75%;
    }
    .col--10__md {
        width: 83.33%;
    }
    .col--11__md {
        width: 91.66%;
    }
    .col--12__md {
        width: 100%;
    }
}

@media only screen and (min-width: 992px) {
.row>[class*="col--"].offset--1__lg {
	margin-left: calc(100% * (1/12));
}
.row>[class*="col--"].offset--2__lg {
	margin-left: calc(100% * (2/12));
}
.row>[class*="col--"].offset--3__lg {
	margin-left: calc(100% * (3/12));
}
.row>[class*="col--"].offset--4__lg {
	margin-left: calc(100% * (4/12));
}
.row>[class*="col--"].offset--5__lg {
	margin-left: calc(100% * (5/12));
}
.row>[class*="col--"].offset--6__lg {
	margin-left: calc(100% * (6/12));
}
.row>[class*="col--"].offset--7__lg {
	margin-left: calc(100% * (7/12));
}
.row>[class*="col--"].offset--8__lg {
	margin-left: calc(100% * (8/12));
}
.row>[class*="col--"].offset--9__lg {
	margin-left: calc(100% * (9/12));
}
.row>[class*="col--"].offset--10__lg {
	margin-left: calc(100% * (10/12));
}
.row>[class*="col--"].offset--11__lg {
	margin-left: calc(100% * (11/12));
}
	
    .col--1__lg {
        width: 8.33%;
    }
    .col--2__lg {
        width: 16.66%;
    }
    .col--3__lg {
        width: 25%;
    }
    .col--4__lg {
        width: 33.33%;
    }
    .col--5__lg {
        width: 41.66%;
    }
    .col--6__lg {
        width: 50%;
    }
    .col--7__lg {
        width: 58.33%;
    }
    .col--8__lg {
        width: 66.66%;
    }
    .col--9__lg {
        width: 75%;
    }
    .col--10__lg {
        width: 83.33%;
    }
    .col--11__lg {
        width: 91.66%;
    }
    .col--12__lg {
        width: 100%;
    }
}

.panel {
    border: 1px solid #D4D4D4;
}

.panel--header {
    padding: 10px;
    border-bottom: 1px solid #D4D4D4;
    font-weight: bold;
}

.panel--body {
    padding: 10px;
}

.panel--footer {
    padding: 10px;
}

.panel__rounded {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.panel__rounded > .panel--header {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.panel__rounded > .panel--footer {
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.table {
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    width:100%;
}

.table td, th {
    display: table-cell;
    text-align: left;
}

.table thead>tr>th {
    vertical-align: bottom;
    text-align: left;
        font-weight: bold;
}

.table>tr {
    display: table-row;
}

.table tbody {
    display: table-row-group;
    vertical-align: middle;
}

.table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.table--bordered>thead>tr>th, .table--bordered>tbody>tr>th, .table--bordered>tfoot>tr>th, .table--bordered>thead>tr>td, .table--bordered>tbody>tr>td, .table--bordered>tfoot>tr>td {
    border: 1px solid #ddd;
}